@model IEnumerable<Scarpe_Co.Models.Scarpa>

@{
    ViewBag.Title = "Index";
}

<h1 class="text-danger my-4">Catalogo delle nostre scarpe</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-danger table-striped">
    <tr class="text-center">
        <th>
            @Html.DisplayNameFor(model => model.id_scarpa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imgCopertina)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_scarpa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>
            <td>
                <img src="@item.imgCopertina" alt="Immagine Copertina" />
                @*@Html.DisplayFor(modelItem => item.imgCopertina)*@
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id_scarpa }) |
                @Html.ActionLink("Details", "Details", new { id=item.id_scarpa  }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id_scarpa  })
            </td>
        </tr>
    }

</table>
