@model IEnumerable<Scarpa>

@{
    ViewBag.Title = "Vetrina";
}

<h1 class="text-danger my-5">Vetrina</h1>


<div class="row column-gap-2 ">


    @foreach (var item in Model)
    {

        <div class="card bg-danger col-3" @*style="width: 18rem;"*@>
            <img src="@item.imgCopertina" class="card-img-top" alt="@item.Nome">
            <div class="card-body">
                <h5 class="card-title">@item.Nome</h5>
                <h6 class="badge bg-success mb-2 text-muted">@item.Prezzo €</h6>
                <p class="card-text">@item.Descrizione</p>
            </div>
        </div>

    }

</div>
